* {
  box-sizing: border-box;
  margin: 0;
  /* outline: 1px red solid; */
  font-family: "Jost", sans-serif;
}
.navbar {
  width: 100%;
  margin: 40px auto;
  padding: 10px 150px;
  position: absolute;
  z-index: 11;
  background-color: white;
  position: fixed;
}
/* Light theme */
/* #myAbout{
  background-color:rgb(0, 0, 0);
}
#myChoice{
  background-color:black;
}
#switchButton {
  background-color: white;
}
#switchButton .fa-sun {
  display: none;
}
#switchButton .fa-moon {
  display: block;
}

/* Dark Theme*/
/* .dark#myAbout{
  background-color: rgb(255, 255, 255);
}

.dark #switchButton {
  background-color: black;
}
.dark#switchButton .fa-sun {
  display: block;
  color: white;
}

.dark #switchButton .fa-moon {
  display: none;
}  */

/* Light theme */
#myAbout {
  background-color: rgb(255, 255, 255);
}
#myService {
  background-color: rgb(255, 255, 255);
}
#myBody {
  background-color: black;
}
#switchButton {
  background-color: white;
}
#switchButton .fa-sun {
  display: none;
}
#switchButton .fa-moon {
  display: block;
}

/* Dark Theme*/
.dark#myService {
  background-color: rgb(0, 0, 0);
}
.dark#myOffer {
  background-color: rgb(0, 0, 0);
}
.dark#myNav {
  background-color: rgb(0, 0, 0);
}
.dark#myButton {
  color: white;
}
.dark#myBody {
  background-color: white;
}
.dark#myAbout {
  background-color: rgb(0, 0, 0);
  color: white;
}
.dark #switchButton {
  background-color: black;
}
.dark #switchButton .fa-sun {
  display: block;
  color: white;
}

.dark #switchButton .fa-moon {
  display: none;
}

.navbar-brand {
  font-size: 34px;
  font-weight: 600;
  padding-left: 20px;
}
.navbar-nav {
  padding-right: 40px;
}
.nav-link {
  font-weight: 400;
  font-size: 18px;
}
.nav-item {
  margin: 0 10px;

  transition: 0.5s;
}
.navbar .nav-item a {
  position: relative;
}

.nav-item .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  background: green;
  height: 2px;
  transition: 0.5s;
}
.nav-item .nav-link:hover::before {
  width: 100%;
}
.dropdown-menu {
  margin-top: 10px;
  margin-right: 30px;
  padding: 20px 50px 20px 0;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  border: 1px solid rgb(230, 228, 228);
}
.dropdown-menu a {
  position: relative;
  margin-left: 20px;
}
.dropdown-menu .dropdown-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  background: green;
  height: 2px;
  transition: 0.5s;
}
.dropdown-menu .dropdown-item:hover::before {
  width: 100%;
}

/* ============================= */

.carou {
  min-width: 800px;
  position: relative;
}
.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.501);
}

.carouh5 {
  font-size: 66px;
  line-height: 76px;
  font-weight: 700;
  color: #fff;
}
.carousel-item .caroup {
  color: #fff;
  font-weight: 400;
  opacity: 0.9;
  font-size: 20px;
}
.carousel-indicators .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: 0.5s;
  margin: 0 10px;
}
.carousel-item .carousel-caption {
  margin-bottom: 200px;
}
.carousel-indicators .dot:hover {
  width: 30px;
  height: 10px;
  border-radius: 10%;
}
.btnw {
  padding: 10px 35px;
  font-size: 18px;
  line-height: 28px;
  border-radius: 10px;
  color: green;
}
.btno {
  padding: 10px 35px;
  font-size: 18px;
  line-height: 28px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.5s;
  color: white;
}
.btno:hover {
  padding: 10px 35px;
  font-size: 18px;
  line-height: 28px;
  border-radius: 10px;
  color: green;
  background-color: #fff;
}
.marginleft200 {
  margin-left: 400px;
}
/* ================================ */
.about {
  padding: 80px 0;
}
.about__container {
  width: 48%;
  margin: auto;
}
.about__container h5 {
  font-size: 18px;
  font-weight: 400;
  color: red;
  margin: 20px 0;
}
.about__container h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}
.about__container p {
  line-height: 28px;
  font-size: 18px;
  color: rgb(107, 107, 107);
  margin: 20px 0;
}
.about__container .read {
  font-size: 17px;
  transition: 0.3s;
  font-weight: 600;
  color: black;
  text-transform: capitalize;
  text-decoration: none;
  border-bottom: 2px solid green;
}
.about__container .read:hover {
  color: green;
}
/* ================================ */
.service {
  background-color: #f9f8fd;
  padding: 80px 0 100px 0;
}

.service__container {
  max-width: 1150px;
  margin: auto;
  display: grid;
  height: 700px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 35px;
}
.service__item {
  background: white;
  border-radius: 10px;
  padding: 40px 30px;
  transition: 0.5s;
}
.service__item:hover {
  background-color: #f3f1fc;
}
.item__content i {
  font-size: 30px;
  font-weight: lighter;
}
.item__content h4 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 15px;
  text-decoration: none;
}
.item__content h4:hover {
  color: green;
  cursor: pointer;
}
.item__content p {
  line-height: 28px;
  font-size: 20px;
  color: rgb(107, 107, 107);
}
.item__content .read {
  font-size: 17px;
  transition: 0.3s;
  font-weight: 600;
  color: black;
  text-transform: capitalize;
  text-decoration: none;
  border-bottom: 2px solid green;
  padding-top: 20px;
}
.item__content .read:hover {
  color: green;
}
/* ============================ */
.offer {
  padding: 80px 0;
}
.offer__container {
  max-width: 1100px;
  margin: auto;
}
.offer__item {
  display: flex;
}
.offer__img {
  background-image: url(./ab.jpeg);
  width: 48%;
  height: 70vh;
  background-size: cover;
  border-radius: 15px;
}
.offer__text {
  width: 50%;
  margin-left: auto;
  padding: 60px 0 60px 10px;
}
.offer__text h5 {
  font-size: 18px;
  font-weight: 400;
  color: rgb(244, 4, 4);
  margin: 20px 0;
  text-transform: uppercase;
}
.offer__text h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}
.offer__text p {
  color: rgb(107, 107, 107);
  margin: 30px 0 50px 0;
}
.offer__text li {
  list-style: none;
  padding: 0;
  margin: 15px 0;
  font-size: 16px;
  line-height: 26px;

  font-weight: 600;
}
.offer__text span {
  text-align: center;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 10px;
  border-radius: 50%;
  color: green;
  background-color: rgb(233, 233, 233);
  margin-right: 15px;
}

@media only screen and (max-width: 600px) {
  .navbar {
    padding: 10px 10px;
  }
  .navbar-brand {
    font-size: 20px;
  }
  .nav-link {
    font-size: 10px;
  }

  .carou {
    max-width: 600px;
  }
  .carouh5 {
    font-size: 33px;
    line-height: 38px;
  }
  .carousel-item .caroup {
    opacity: 0.9;
    font-size: 10px;
  }
  .marginleft200 {
    margin-left: 100px;
  }
  .btnw {
    padding: 5px 17px;
    font-size: 10px;
    line-height: 14px;
    border-radius: 5px;
    color: green;
  }
  .btno {
    padding: 5px 17px;
    font-size: 9px;
    line-height: 14px;
    border-radius: 5px;
    border: 2px solid white;
  }
  .carousel-item .carousel-caption {
    margin-bottom: 50px;
  }
  .about {
    padding: 40px 0;
  }
  .about__container {
    width: 100%;
    margin: auto;
  }
  .about__container h5 {
    font-size: 12px;
    margin: 13px 0;
  }
  .about__container h3 {
    font-size: 22px;
  }
  .about__container p {
    font-size: 14px;
  }
  .about__container .read {
    font-size: 13px;
  }
  .service {
    padding: 40px 0 50px 0;
  }
  .service__container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    height: 600px;
    width: 500px;
  }
  .service__item {
    background: white;
    border-radius: 5px;
    padding: 20px 15px;
    transition: 0.5s;
  }
  .item__content i {
    font-size: 15px;
  }
  .item__content h4 {
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 8px;
  }
  .item__content p {
    line-height: 14px;
    font-size: 10px;
  }
  .item__content .read {
    font-size: 10px;
    border-bottom: 1px solid green;
  }
  .offer {
    padding: 40px 0;
  }
  .offer__img {
    width: 48%;
    height: 40vh;
    background-size: cover;
    border-radius: 15px;
  }
  .offer__text {
    width: 50%;
    margin-left: auto;
    padding: 30px 0 30px 5px;
  }
  .offer__text h5 {
    font-size: 10px;
    margin: 10px 0;
    text-transform: uppercase;
  }
  .offer__text h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-transform: capitalize;
  }
  .offer__text p {
    color: rgb(107, 107, 107);
    margin: 15px 0 25px 0;
  }
  .offer__text li {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    font-size: 10px;
    line-height: 13px;
  }
  .offer__text span {
    text-align: center;
    width: 12px;
    height: 12px;
    line-height: 12px;
    font-size: 5px;
    border-radius: 25%;
    color: green;
    background-color: rgb(233, 233, 233);
    margin-right: 15px;
  }
}
/* ========================= */
@media only screen and (max-width: 900px) {
  .about {
    padding: 40px 0;
  }
  .about__container {
    width: 100%;
    margin: auto;
  }
  .service {
    padding: 40px 0 50px 0;
  }
  .service__container {
    gap: 30px;
    height: 600px;
  }

  .item__content i {
    font-size: 25px;
  }
  .item__content h4 {
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 8px;
  }
  .item__content p {
    line-height: 20px;
    font-size: 15px;
  }
  .offer {
    padding: 40px 0;
  }
  .offer__container {
    width: 100%;
    margin: auto;
  }
  .offer__img {
    margin-top: 30px;
    width: 50%;
    height: 40vh;

    border-radius: 15px;
  }
  .offer__text {
    width: 50%;
    margin-left: auto;
    padding: 40px 0 40px 10px;
  }
  .offer__text h5 {
    font-size: 15px;
    margin: 15px 0;
    text-transform: uppercase;
  }
  .offer__text h3 {
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
    text-transform: capitalize;
  }
  .offer__text p {
    color: rgb(107, 107, 107);
    margin: 15px 0 25px 0;
  }
  .offer__text li {
    list-style: none;
    padding: 0;
    margin: 18px 0;
    font-size: 18px;
    line-height: 22px;
  }
  .offer__text span {
    text-align: center;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 10px;
    border-radius: 50%;
    color: green;
    background-color: rgb(233, 233, 233);
  }
}

/* phu css */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
} */

ul {
  list-style: none;
}

/* STATS */
.stats {
  background: rgb(24, 154, 70);
}
.stats_info {
  text-align: center;
  padding: 0;
  border-top: none;
  border-bottom: none;
}

.stats_info p {
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 0;
}

.stats_info h4 {
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
  color: #fff;
  margin-top: 10px;
  opacity: 0.8;
  font-weight: 400;
}

@media (max-width: 992px) {
  .stats_info p {
    font-size: 40px;
    line-height: 50px;
  }

  .stats_info h4 {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .stats_info p {
    font-size: 35px;
    line-height: 38px;
    margin-top: 20px;
  }

  .stats_info h4 {
    font-size: 17px;
  }
}

/* PRICING */

.pricing {
  background: #f9f7fe;
}

.pricing_title h6 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  color: red;
  letter-spacing: 1px;
}

.pricing_title h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}

.pricing_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  margin-top: 0;
  scale: 0.95;
}

.pricing_plan {
  background: white;
  border-radius: 6px;
  align-self: center;
  box-shadow: 0 10px 30px 0 rgba(17, 17, 17, 0.09);
}

.pricing_plan.active {
  transform: scale(1.03);
  z-index: 1;
  margin: 0;
  box-shadow: 0 10px 30px 0 rgba(17, 17, 17, 0.09);
  border-radius: 6px;
}

.pricing_plan.active .plan_top {
  color: white;
  padding: 3em 2.5em 0.5em;
  background: rgb(24, 154, 70);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.pricing_plan.active .plan_top h5 {
  font-size: 15px;
  line-height: 20px;
  color: rgb(24, 154, 70);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 700;
  display: inline-block;
  padding: 8px 20px;
  background: #fff;
  border-radius: 6px;
}

.pricing_plan.active .plan_top h4 {
  color: white;
}

.pricing_plan.active .plan_top h4 span {
  color: white;
}

.pricing_plan.active .plan_bottom {
  padding: 2em 2.5em 3.5em;
}

.pricing_plan.active .plan_content {
  padding: 0;
}

.plan_content {
  padding: 3.5em 2.5em;
  border-right: 0;
}

.plan_top {
  text-align: center;
}

.plan_top h6 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
}

.plan_top h4 {
  font-size: 40px;
  line-height: 45px;
  margin: 15px 0 20px;
  text-align: center;
  font-weight: 600;
  color: rgb(24, 154, 70);
}

.plan_top h4 label {
  font-size: 25px;
  vertical-align: text-top;
}

.plan_top h4 span {
  font-size: 16px;
  line-height: 25px;
  color: #999;
  font-weight: 400;
}

.plan_bottom {
  text-align: center;
  padding-top: 1em;
}

.plan_bottom ul {
  min-height: 120px;
}

.plan_bottom ul li {
  list-style: none;
  margin-bottom: 5px;
  color: #304659;
}

.plan_bottom ul li p {
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  align-self: center;
  padding-top: 6px;
}

.btn {
  margin-top: 2em;
  background: rgb(24, 154, 70);
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 6px;
  border: transparent;
  color: white;
}

.btn:hover {
  background-color: #116e32;
  color: white;
}

.btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(15, 162, 67, 0.65);
}

@media (max-width: 800px) {
  .pricing_content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin: 50px auto 0;
    width: 75%;
  }
}
/* DARK MODE */

.dark#pricing {
  background: #222222;
}

.dark#pricing .pricing_title h3 {
  color: white;
}

.dark#pricing .pricing_content .plan_top h6 {
  color: white;
}

.dark#pricing .pricing_content .pricing_plan {
  background: #151515;
}

.dark#pricing .pricing_content .plan_bottom ul li p {
  color: #aaafaf;
}

/* ABOUT */

.about .about_content .about_title h6 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: red;
}

.about .about_content .about_title h3 {
  font-size: 35px;
  line-height: 40px;
}

.about .about_content .about_title p {
  color: #696999;
}

.video_thumb {
  position: relative;
}

.video_wrapper a {
  position: absolute;
}

#small-dialog {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}
div#small-dialog iframe {
  width: 100%;
  height: 420px;
  display: block;
  border-radius: 10px;
}
.mfp-close-btn-in .mfp-close {
  color: #fff;
}
.mfp-close,
.mfp-close:active {
  top: -40px;
}

/**
   * Fade-zoom animation for first dialog
   */
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  transform: scale(0.8);
  opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.95;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

.video_wrapper {
  position: relative;
}

.video_wrapper img {
  vertical-align: middle;
  border-style: none;
  border-radius: 6px;
}

.video_wrapper a {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - 40px);
}

.video_wrapper a i {
  background: #fff;
  display: inline-block;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  animation: ripple 1s linear infinite;
  color: rgb(24, 154, 70);
}

.video_wrapper a i:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale3d(0.75, 0.75, 1);
  }

  to {
    opacity: 0;
    transform: scale3d(1.5, 1.5, 1);
  }
}

/* DARK MODE */
.dark#about {
  background: #151515;
}

.dark#about .about_title h3 {
  color: white;
}

.dark#about .about_title p {
  color: #afafaf;
}

/* luan css */
/* start client */

/* light theme */

#clients {
  background: rgba(199, 195, 195, 0.219);
}

.container {
  width: 90%;
}

.testimonials_title {
  text-align: center;
}

.testimonials_title p {
  color: #f53626;
  font-size: 20px;
}

#h1_dark2 {
  font-size: 35px;
  color: black;
}

#h1_dark {
  color: #151515;
}

.testimonials_list {
  /* background: white; */
  padding: 50px 30px;
  border-radius: 12px;
}

#testimonials_list_1 {
  background: black;
}

#testimonials_list_2 {
  background: black;
}

#testimonials_list_3 {
  background: black;
}

#testimonials_list_4 {
  background: black;
}

#testimonials_list_5 {
  background: black;
}

#testimonials_list_6 {
  background: black;
}

.p_total {
  color: gray;
  /* font-size: 24px; */
}

.list_bot {
  display: flex;
}

.list_left {
  display: flex;
  width: 70%;
}

.list_avatar {
  width: 40%;
}

.list_avatar img {
  border-radius: 50%;
  width: 30%;
}

.list_name {
  margin-left: 20px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #189a46;
  width: 30px;
  height: 10px;
}
/* end client */
/* start updated */

.updated {
  padding: 100px 0;
}

#bg_update {
  background: #333;
}

.update_title {
  text-align: center;
  width: 80%;
  margin: auto;
}

.update_list {
  display: flex;
  width: 90%;
  margin-left: 10%;
  padding-top: 40px;
}

.form-control {
  font-size: 40px;
  margin: 0 20px;
  width: 60%;
  border-radius: 10px;
}

.update_list button {
  border-radius: 10px;
  width: 20%;
  background: #189a46;
  margin-top: 0;
}

/* dark theme   */
.dark#clients {
  background: #444;
}

.dark#h1_dark {
  color: #ddd;
}

.dark#testimonials_list_1 {
  background: white;
}

.dark#testimonials_list_2 {
  background: white;
}

.dark#testimonials_list_3 {
  background: white;
}

.dark#testimonials_list_4 {
  background: white;
}

.dark#testimonials_list_5 {
  background: white;
}

.dark#testimonials_list_6 {
  background: white;
}

.dark#bg_update {
  background: white;
}

.dark#h1_dark2 {
  color: #ddd;
}

/* end updated */

/* start footer */
.footer {
  padding: 80px 0;
  background: black;
}

.footer_top {
  display: flex;
  padding: 0 40px;
  padding-left: 200px;
}

.footer_left {
  width: 50%;
  /* margin: auto; */
}

.footer_right {
  display: flex;
  width: 50%;
}

.footer_list {
  width: 30%;
}

.footer li {
  list-style: none;
  line-height: 3;
  font-size: 20px;
}

.footer li p {
  color: gray;
}

.footer li strong {
  color: gray;
}

.h6_total {
  padding-left: 40px;
  font-size: 30px;
  line-height: 2;
  color: white;
}

.footer a {
  color: gray;
  /* text-decoration: none; */
}

.link-icons {
  display: flex;
}

.link-icons i {
  margin-left: 40px;
}

.footer_bot {
  border-top: 1px solid gray;
  text-align: center;
}

#highlight {
  color: red;
}

/* end footer */
